/* VARIABLES */

:root {
  /* Color values */
  --color-background: rgba(255,255,255,1);
  --color-text: rgba(0,0,0,1);
  --color-text-link: rgba(0,0,255,0.8);
  --color-text-link-hover: rgba(0,0,255,0.4);
  /* Font values */
  --font-family: serif;
  --font-size: 24px;
  /* Margin value */
  --margin: 1rem;
}


* {
  box-sizing: border-box;
}

html, body {
  margin:0;
  padding:0;
}







.intro {
margin-left: 10%;
font-size: var(--font-size);
font-weight: lighter;
text-transform:uppercase;
text-align: left;
}

.abstract{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
 
  text-align: justify;
}

.title {

  font: serif;
  font-weight: lighter;
  text-align: center;
  font-size: calc(var(--font-size)*2);

}

.subtitle {
  font: serif;
  font-weight: lighter;
  text-align: center;
  font-size: calc(var(--font-size)*1.5);
  margin-bottom: 5%;
}

p{
  margin:0;
  font-size: var(--font-size);
  text-align: justify;
  }
  

  .boxone {
    background-color: rgb(255, 255, 255);
    display: block;
    margin-top:0px;

    
  }

  .opening {
    position: sticky;
    height: 100vh;
    width: 100%;
    top: 0;
    margin: 0 auto; /* Center the content horizontally */
    background-color: rgb(255, 255, 255);
    z-index: 1;
    padding: 18%;
    padding-top: 14%;
  
  }

  .chapter {

padding: 10%;
padding-top: 8%;
    position: relative;
    height: 100%;
    height:auto;
    width: 100%;
    margin: 0 auto; /* Center the content horizontally */
    text-align: justify; /* Center the text inside */
    z-index: 2;
    background-color: rgb(214, 214, 214);
  }





  




#box2 {
z-index:3;
/* top:calc(0px - 100vh); */
height:100vh;
background:rgb(189, 189, 189);
}
#box3 {
  z-index:4;
  /* background:rgb(192, 192, 192); */
}
