/* VARIABLES */

:root {
  /* Color values */
  --color-background: rgba(255,255,255,1);
  --color-text: rgba(0,0,0,1);
  --color-text-link: rgba(0,0,255,0.8);
  --color-text-link-hover: rgba(0,0,255,0.4);
  /* Font values */
  --font-family: serif;
  --font-size: 24px;
  /* Margin value */
  --margin: 1rem;
}



body {
  margin: 0;
  padding: 0;
}

.box {
  position: sticky;
  display: block;
  margin-top:0px;
  top:calc(0px - 220vh);
  background: white;
  height:350vh;
  padding:30px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

.content{
  position: relative;
  display: block;
  width:100%;
  height:auto;
  /* background-color:rgb(255, 255, 255); */
}
.text{

    position: relative;
    width: 70%;
    height: auto;
    margin: 0 auto; /* Center the content horizontally */
    text-align: justify; /* Center the text inside */
  
}

.credits {

  margin-left: 10%;
  
}

.intro {
margin-left: 10%;
font-size: var(--font-size);
font-weight: lighter;
text-transform:uppercase;
text-align: left;
}

.abstract{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
 
  text-align: justify;
}

h1 {

  font: serif;
  font-weight: lighter;
  text-align: center;
  font-size: calc(var(--font-size)*1.5);
  margin-left: 4%;
  margin-right: 4%;
}

p{
  margin-left: 10%;
  margin-right: 10%;
  font-size: var(--font-size);
  text-align: justify;
  }
  

#box1 {

}

#box2 {
z-index:1;
background:rgb(189, 189, 189);
}
#box3 {
  z-index:2;
  /* background:rgb(192, 192, 192); */
}
