/* VARIABLES */

:root {
  /* Color values */
  --color-light: rgb(245, 245, 245);
  --color-medium: rgb(220, 220, 220);
  --color-dark: rgb(5, 5, 10);
  --color-text: rgba(0, 0, 0, 1);
  --color-text-link: rgba(0, 0, 0, 0.5);
  --color-text-link-hover: rgba(0, 0, 255, 0.4);
  /* Font values */
  --font-family: serif;
  --font-size: 24px;
  /* Margin value */
  --margin: 1rem;
}


* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-light);
}




/* FONTS */


.intro {

  font-size: calc(var(--font-size)*1.5);
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
}

.font_landing {
  font-size: calc((var(--font-size)*3));
  color: var(--color-dark);
  text-align: justify;

}

.title {

  font: serif;
  font-weight: lighter;
  text-align: center;
  font-size: calc(var(--font-size)*2);
  color: var(--color-light);

}

#sub {

  font-size: calc(var(--font-size)*1.5);
  margin-bottom: 5%;
}

hr {
  opacity: 0;
  margin-left: 8%;
  margin-right: 8%;
}

p {
  margin: 0;
  font-size: var(--font-size);
}

.chapterone {
  font-size: var(--font-size);
  margin-top: 3%;
  margin-bottom: 3%;
}

#caption {
  margin-top: 1%;
  margin-bottom: 0;
  font-size: calc(var(--font-size)/1.5);
  margin-left: 13%;
  margin-right: 13%;
  text-align: center;
}


img {
  display: block;
  margin: 0px auto;
  width: 30%;
  opacity: 0.2;

  position: absolute;

  left: 0;
  right: 0;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.image_visible {

  display: block;
  margin: 0 auto;
  width: 60%;
  opacity: 1;

  position: relative;

  left: 0;
  right: 0;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  border: 0.4rem double;
  border-color: var(--color-dark);
}

.image_opening {

  display: block;
  margin: 0 auto;
  width: 40%;
  opacity: 1;

  position: relative;
  margin-top: 3%;
  margin-bottom: 3%;
  left: 0;
  right: 0;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  border: 0.3rem double;
  border-color: var(--color-light);
  padding: 1%;
}

#caption_opening {

  margin-top: 1%;
  margin-bottom: 0;
  font-size: calc(var(--font-size)/1.2);
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.figurelink {
  cursor: pointer;
  text-align: center;
  font-size: 60%;
  vertical-align: super;

}

.hovered {
  z-index: 1;
  opacity: 1;


  filter: blur(0);
}

.trajan {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: left;
  font-style: italic;

  font-size: calc(var(--font-size)*1);

}

#trajan_figure {

  text-align-last: right;
}

#conversation {


  text-indent: -20px;


}






/* DIVS */


.box {

  display: block;
  margin-top: 0px;


}

.landing_page {
  position: sticky;
  z-index: 1;
  height: 100vh;
  width: 100%;
  top: 0;
  margin: 0 auto;
  /* Center the content horizontally */
  background-color: var(--color-light);
  padding: 20%;
  padding-top: 14%;
  text-align: center;
}


.opening {
  position: sticky;
  height: 100vh;
  width: 100%;
  top: 0;
  margin: 0 auto;
  background-color: var(--color-dark);
  padding: 18%;
  padding-top: 6%;
  z-index: 2;
  text-align: justify;
}

.conversation_wrapper {
height: 70vh;
width: 80%;
margin: 0 auto;
overflow: scroll;
border: 0.3rem double;
padding-right: 5%;
padding-left: 6%;
padding-top: 1%;
padding-bottom: 1%;
background-color: var(--color-medium);
}

#manual {
  background-color: var(--color-medium);
  max-height: calc(100vh - 10px); /* Subtract padding-bottom from max-height */
  padding-bottom: 10px;
  overflow-y: hidden;
  padding: 18% 18% 5% 18%;
}

.manual_container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  max-width: 100%;
}

.manual_column {
  flex: 1;
  display: block;
  overflow-y: auto;
  max-height: 300px;
}

.manual_paragraph {
  margin: 10px;
  text-align: justify;
}




.chapter {
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
  height: 100%;
  height: auto;
  width: 100%;
  margin: 0 auto;
  /* Center the content horizontally */
  text-align: justify;
  /* Center the text inside */
  z-index: 3;
  padding-right: 22%;
  padding-left: 22%;
  background-color: var(--color-light);
}